/*商品列表*/
.commts {
  background: #fff;
}
.container {
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.container .left {
  float: left;
  width: 25%;
}
.container .left .inleft {
  display: block;
  padding-top: 20px;
  min-height: 500px;
}
.container .left .inleft .navlist {
  font-size: 14px;
  line-height: 35px;
}
.container .left .inleft .navlist i {
  padding-right: 5px;
}
.container .left .inleft .navlist li a:hover {
  color: #49aace;
}
.container .left .inleft .navlist li.on a {
  color: #49aace;
}
.right {
  float: left;
  width: 75%;
}
.right .inright {
  padding: 20px;
  padding-right: 0px;
  border-left: 1px solid #e0e2e3;
  min-height: 500px;
}
.right .bigbtn {
  width: 200px;
  border: 1px solid #e0e2e3;
  background: #fefefe;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.right .bigbtn .pirce {
  font-size: 22px;
  line-height: 22px;
  color: #50be9e;
  font-weight: bold;
}
.right .bigbtn:hover {
  border: 1px solid #c5c9cb;
  background: #fcfcfc;
}
.right .acticle {
  text-align: center;
  padding: 20px 20px;
}
.right .acticle i.big {
  font-size: 30px;
  display: block;
  margin: 0px auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #788a91;
  color: #788a91;
  border-radius: 50%;
}
.right .acticle h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.right .acticle p {
  padding: 0px 40px;
  color: #788a91;
}
.right .acticle .btnbox {
  padding-top: 30px;
}
.right .acticle .btnbox a,
.right .acticle .btnbox input {
  display: block;
  padding: 6px 40px;
  background: #788a91;
  border: 2px solid #607076;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.right .acticle .btnbox a:hover,
.right .acticle .btnbox input:hover {
  background: #607076;
}
.right .acticle .btnbox a.mo,
.right .acticle .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.right .acticle .btnbox a.mo:hover,
.right .acticle .btnbox input.mo:hover {
  border-color: #ffffff;
}
.right .acticle .btnbox a {
  background: #ffffff;
  color: #788a91;
}
.right .acticle .btnbox a:hover {
  color: #ffffff;
}
.goodstplbox {
  min-height: 300px;
}
.breadcrumb {
  border-bottom: 1px solid #e0e2e3;
  line-height: 40px;
  background: #f6f8f7;
}
.breadcrumb .unstyled {
  *zoom: 1;
  width: 1145px;
  margin: 0px auto;
}
.breadcrumb .unstyled:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.breadcrumb .unstyled li {
  color: #788a91;
}
.breadcrumb .unstyled li:last-child {
  float: right;
}
.breadcrumb .unstyled li:first-child {
  float: left;
}
.breadcrumb .unstyled li i {
  margin-right: 5px;
}
@media (max-width: 1145px) {
  .breadcrumb .unstyled {
    width: 97%;
    margin: 0px auto;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 160px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 140px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 760px) {
  .right {
    float: none;
    width: 100%;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 500px) {
  .right {
    float: none;
    width: 100%;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10% 10% 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
