/*商品列表*/
.hide_phone {
  background: #36424b;
}
.hide_phone .txtScroll-left {
  color: #fff;
  margin: 0 auto;
  width: 560px;
  height: 60px;
  position: relative;
}
.hide_phone .txtScroll-left .hd {
  margin: 0;
  padding-top: 3px;
}
.hide_phone .txtScroll-left .hd .prev,
.hide_phone .txtScroll-left .hd .next {
  background-color: #36424b;
  color: #fff;
  display: block;
  font-size: 20px;
  opacity: .7;
  padding: 10px 0;
  position: absolute;
  width: 45px;
  text-align: center;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hide_phone .txtScroll-left .hd .prev:hover,
.hide_phone .txtScroll-left .hd .next:hover {
  opacity: 1;
}
.hide_phone .txtScroll-left .hd .prev {
  left: 0;
  text-align: center;
}
.hide_phone .txtScroll-left .hd .next {
  right: 0;
  text-align: center;
}
.hide_phone .txtScroll-left .bd {
  height: 60px;
  position: relative;
  width: 560px;
}
.hide_phone .txtScroll-left .bd .tempWrap {
  height: 60px;
}
.hide_phone .txtScroll-left .bd ul {
  left: 0;
  margin: 0;
  position: absolute;
  width: 1120px;
  top: 10px;
  z-index: 5;
}
.hide_phone .txtScroll-left .bd ul li {
  font-size: 15px;
  line-height: 1.25em;
  float: left;
  text-align: center;
  width: 560px;
}
.hide_phone .txtScroll-left .bd ul li a {
  color: #fff;
  font-size: 14px;
  float: none;
  opacity: .8;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hide_phone .txtScroll-left .bd ul li span {
  color: white;
  display: block;
  font-family: "ProximaNova-Regular";
  font-size: 11px;
  text-transform: none;
}
body {
  background: #ffffff;
}
.infotables {
  padding: 0px 0px;
  display: block;
  height: 110px;
}
.infotables section {
  display: block;
  width: 100%;
  overflow: hidden;
}
.infotables section.tr {
  margin-bottom: 0px!important;
  *zoom: 1;
  border-bottom: 1px solid #e0e2e3;
}
.infotables section.tr:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.infotables section.tr.first {
  border-top: 1px solid #e0e2e3;
  background: #efefef;
  border-bottom: 1px solid #e0e2e3;
}
.infotables section.tr .detail {
  clear: both;
  padding: 10px;
  padding-top: 0px;
  display: none;
}
.infotables section.tr .detail h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0px;
  float: none;
}
.infotables section.tr .detail ul {
  list-style-type: disc;
  float: none;
  padding: 0px 0px;
  padding-left: 13px;
  color: #788a91;
  padding-bottom: 10px;
}
.infotables section.tr .detail ul li {
  float: none;
}
.infotables section .th,
.infotables section .td {
  float: left;
  *zoom: 1;
}
.infotables section .th a,
.infotables section .td a {
  color: #36424b;
}
.infotables section .th.type,
.infotables section .td.type {
  width: 50%;
}
.infotables section .th.type img,
.infotables section .td.type img {
  height: 43px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  float: left;
}
.infotables section .th.type .falg,
.infotables section .td.type .falg {
  padding: 0px 4px;
  border: 1px solid #788a91;
  color: #788a91;
  border-radius: 3px;
  float: left;
  margin-top: 3px;
}
.infotables section .th.type .falg:hover,
.infotables section .td.type .falg:hover {
  color: #607076;
  border-color: #607076;
}
.infotables section .th.value,
.infotables section .td.value {
  width: 20%;
  cursor: pointer;
}
.infotables section .th.price,
.infotables section .td.price {
  width: 18%;
  cursor: pointer;
}
.infotables section .th.btn,
.infotables section .td.btn {
  width: 12%;
}
.infotables section .th:after,
.infotables section .td:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.infotables section .th span.lf,
.infotables section .td span.lf {
  float: left;
  padding-right: 5px;
}
.infotables section .th span.sanjiao,
.infotables section .td span.sanjiao {
  width: 0px;
  height: 0px;
  display: none;
  float: left;
  margin-left: 10px;
  color: #788a91;
  margin-top: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #788a91;
}
.infotables section .th.sortstart span.sanjiao,
.infotables section .td.sortstart span.sanjiao {
  display: block;
}
.infotables section .th.sortstart.desc span.sanjiao,
.infotables section .td.sortstart.desc span.sanjiao {
  width: 0px;
  height: 0px;
  display: block;
  float: left;
  margin-left: 10px;
  color: #788a91;
  margin-top: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #788a91;
}
.infotables section .th .in,
.infotables section .td .in {
  padding: 10px;
  *zoom: 1;
}
.infotables section .th .in:after,
.infotables section .td .in:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.infotables section .th .in b.tit,
.infotables section .td .in b.tit {
  float: left;
  width: 80px;
  display: block;
  line-height: 22px;
}
.infotables section .th .in.buy,
.infotables section .td .in.buy {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
}
.infotables section .th .in.buy a,
.infotables section .td .in.buy a,
.infotables section .th .in.buy input,
.infotables section .td .in.buy input {
  display: block;
  padding: 2px 15px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.infotables section .th .in.buy a:hover,
.infotables section .td .in.buy a:hover,
.infotables section .th .in.buy input:hover,
.infotables section .td .in.buy input:hover {
  background: #3ba082;
}
.infotables section .th .in.buy a.mo,
.infotables section .td .in.buy a.mo,
.infotables section .th .in.buy input.mo,
.infotables section .td .in.buy input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.infotables section .th .in.buy a.mo:hover,
.infotables section .td .in.buy a.mo:hover,
.infotables section .th .in.buy input.mo:hover,
.infotables section .td .in.buy input.mo:hover {
  border-color: #ffffff;
}
.infotables section .th .in.buy a,
.infotables section .td .in.buy a {
  border-width: 1px;
}
.infotables section .th .in.buy a.off,
.infotables section .td .in.buy a.off {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #788a91;
}
.infotables section .th a.info,
.infotables section .td a.info {
  color: #49aace;
}
.infotables section .th a.info:hover,
.infotables section .td a.info:hover {
  color: #3090b4;
}
.infotables section .th {
  background: #efefef;
}
.infotables h3.leisi {
  font-size: 19px;
  line-height: 50px;
  border-bottom: 1px solid #e0e2e3;
}
.infotables .leisilist {
  *zoom: 1;
}
.infotables .leisilist:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.infotables .leisilist .inlist {
  width: 244px;
  float: left;
  padding-top: 15px;
  padding-right: 15px;
  overflow: hidden;
  height: 60px;
}
.infotables .leisilist .inlist a {
  *zoom: 1;
  display: block;
}
.infotables .leisilist .inlist a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.infotables .leisilist .inlist a img {
  float: left;
  margin-right: 15px;
  height: 60px;
  border-radius: 5px;
}
header.navbar-fixed-top {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}
header.navbar-fixed-top .inner-nav {
  position: relative;
}
header.navbar-fixed-top .jindubox {
  height: 3px;
  width: 400px;
  background: #97a0af;
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -200px;
}
header.navbar-fixed-top .jindubox .jindubar {
  background: #49aace;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
}
header.navbar-fixed-top .jindubox .yuan {
  border: 2px solid #97a0af;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
  top: 50%;
  margin-top: -5px;
  position: absolute;
  color: #97a0af;
}
header.navbar-fixed-top .jindubox .yuan .inyuan {
  width: 100px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: -23px;
  text-align: center;
}
header.navbar-fixed-top .jindubox .yuan.s0 {
  background: #49aace;
  border-color: #49aace;
}
header.navbar-fixed-top .jindubox .yuan.s2 {
  right: 0px;
}
header.navbar-fixed-top .jindubox .yuan.s1 {
  left: 50%;
  margin-left: -5px;
}
header.navbar-fixed-top .jindubox.s1 .yuan.s0 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s1 .yuan.s1 {
  border-color: #49aace;
}
header.navbar-fixed-top .jindubox.s1 .jindubar {
  width: 200px;
}
header.navbar-fixed-top .jindubox.s2 .yuan.s0 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s2 .yuan.s1 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s2 .yuan.s2 {
  border-color: #49aace;
}
header.navbar-fixed-top .jindubox.s2 .jindubar {
  width: 400px;
}
header.navbar-fixed-top .jindubox.s3 .yuan.s0 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s3 .yuan.s1 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s3 .yuan.s2 {
  background: #49aace;
  border-color: #49aace;
  color: #49aace;
}
header.navbar-fixed-top .jindubox.s3 .jindubar {
  width: 400px;
}
header.navbar-fixed-top .left {
  background: #fff;
  right: 0px;
  top: 110px;
  width: 420px;
  position: absolute;
  z-index: 1004;
}
header.navbar-fixed-top .left .inleft {
  display: block;
  padding-top: 0px;
  min-height: 500px;
}
header.navbar-fixed-top .left .inleft ul.navlist {
  margin-bottom: 20px;
  padding-right: 15px;
}
header.navbar-fixed-top .left .inleft ul.navlist li {
  font-size: 14px;
  color: #36424b;
  height: 25px;
  line-height: 25px;
}
header.navbar-fixed-top .left .inleft ul.navlist li.title {
  margin-bottom: 5px;
}
header.navbar-fixed-top .left .inleft ul.navlist li a {
  display: block;
  color: #788a91;
  font-size: 13px;
}
header.navbar-fixed-top .left .inleft ul.navlist li a:hover {
  background: #ddd;
  color: #607076;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg {
  padding-bottom: 27px;
  margin-bottom: 27px;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg:last-child {
  border-bottom: none;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg > section {
  display: block;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg > section img {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 27px;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg h2 {
  color: #36424b;
  font-size: 14px;
  padding-bottom: 8px;
  font-weight: bold;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg .in a {
  color: #36424b;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg .in a:hover {
  color: #21282d;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg a {
  color: #49aace;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg a:hover {
  color: #3090b4;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg a.falg {
  color: #36424b;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg p {
  color: #788a91;
}
header.navbar-fixed-top .left .inleft .infoleft .paceimg p .mark {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0px 5px;
}
.rootwarp {
  padding-top: 110px;
}
.commts {
  background: #fff;
}
.container {
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right {
  float: left;
  width: 60%;
}
.right .inright {
  border-right: 1px solid #e0e2e3;
}
.right section {
  margin-bottom: 10px;
  *zoom: 1;
  position: relative;
}
.right section:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right section h2 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.right .formbox {
  padding-right: 20px;
}
.right .formbox .title {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e0e2e3;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-sty {
  font-size: 14px;
}
.form-sty label {
  display: block;
}
.form-sty label.hui {
  background: #f6f8f7;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  margin-bottom: 40px;
}
.form-sty p {
  line-height: 16px;
  color: #788a91;
  margin-bottom: 5px;
  padding-left: 2px;
}
.form-sty p span {
  color: #ff0000;
  padding-left: 5px;
}
.form-sty input.textbox,
.form-sty select {
  display: block;
  height: 40px;
  width: 260px;
  padding: 0px 5px;
  border: 1px solid #e0e2e3;
  float: left;
  margin-right: 20px;
}
.form-sty input.textbox:focus,
.form-sty select:focus {
  border-color: #49aace;
}
.form-sty input.ccg {
  width: 210px;
  margin-right: 10px;
}
.form-sty select {
  width: 131px;
  margin-right: 10px;
  float: left;
}
.form-sty .alert {
  height: 16px;
  line-height: 16px;
  color: #ff0000;
  font-size: 12px;
}
.form-sty .inputbox {
  *zoom: 1;
}
.form-sty .inputbox:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.form-sty .inputbox img {
  float: left;
  margin-right: 5px;
}
.form-sty .inputbox i {
  font-size: 36px;
  line-height: 40px;
  color: #788a91;
  margin-left: 5px;
}
.form-sty .inputbox .left {
  *zoom: 1;
  float: left;
}
.form-sty .inputbox .left:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.form-sty .inputbox .left input {
  float: left;
  margin-top: 13px;
  margin-right: 4px;
}
.form-sty .inputbox .right {
  float: right;
}
.cartlist {
  *zoom: 1;
  border-bottom: 1px solid #e0e2e3;
}
.cartlist:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.cartlist ul li {
  float: left;
  padding: 0px 26px 26px 26px;
}
.cartlist ul li a img {
  display: block;
  width: 160px;
  height: 98px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cartlist ul li a p {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  text-align: center;
}
.cartlist ul li a p.discribe {
  color: #788a91;
}
.goodstplbox {
  max-height: 141px;
  overflow: auto;
  width: 100%;
  margin-bottom: 12px;
}
.jiesuanbox {
  padding-top: 12px;
}
.breadcrumb {
  border-bottom: 1px solid #e0e2e3;
  line-height: 40px;
  background: #f6f8f7;
}
.breadcrumb .unstyled {
  *zoom: 1;
  width: 1145px;
  margin: 0px auto;
}
.breadcrumb .unstyled:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.breadcrumb .unstyled li {
  color: #788a91;
}
.breadcrumb .unstyled li:last-child {
  float: right;
}
.breadcrumb .unstyled li:last-child a {
  padding-left: 5px;
}
.breadcrumb .unstyled li:first-child {
  float: left;
}
.breadcrumb .unstyled li i {
  margin-right: 5px;
}
.pricelist p {
  margin-bottom: 0px!important;
  *zoom: 1;
  color: #788a91;
  line-height: 30px;
}
.pricelist p:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pricelist p .l {
  float: left;
}
.pricelist p .r {
  float: right;
}
.pricelist p.goon {
  text-align: center;
}
.pricelist .btnbox a,
.pricelist .btnbox input {
  display: block;
  padding: 10px 40px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.pricelist .btnbox a:hover,
.pricelist .btnbox input:hover {
  background: #3ba082;
}
.pricelist .btnbox a.mo,
.pricelist .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.pricelist .btnbox a.mo:hover,
.pricelist .btnbox input.mo:hover {
  border-color: #ffffff;
}
.pricelist .btnbox a {
  color: #ffffff!important;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-width: 0px;
}
.aboutcart {
  border: 1px solid #e0e2e3;
  margin-bottom: 10px;
}
.aboutcart .in {
  padding: 10px;
}
.aboutcart .in h2 {
  padding-bottom: 10px;
}
.aboutcart .in li {
  line-height: 30px;
}
.aboutcart .in li a {
  color: #788a91 !important;
  display: block;
}
.aboutcart .in li a:hover {
  color: #607076;
}
@media (max-width: 1145px) {
  .breadcrumb .unstyled {
    width: 97%;
    margin: 0px auto;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 160px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 140px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 760px) {
  .container .left {
    float: none;
    width: 100%;
    border-top: 1px solid #e0e2e3;
  }
  .right {
    float: none;
    width: 100%;
  }
  .right .inright {
    border-right: none;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 500px) {
  .right {
    float: none;
    width: 100%;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10% 10% 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
