/*首页*/
/*头部样式*/
.index-head {
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #ffffff;
}
.index-head a {
  color: #ffffff;
}
.index-head a:hover {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform._Microsoft._Alpha(Opacity=80)";
  opacity: 0.8;
}
.index-head.navbar {
  background: none;
}
.index-head .inner-nav {
  border-bottom: none;
}
.index-head .inner-nav .logo a {
  background-position: 0px -40px;
}
.index-head .user-nav li.buycartbox i {
  border-color: #ffffff;
}
.index-head .user-nav li.buycartbox a:hover {
  color: #ffffff;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform._Microsoft._Alpha(Opacity=80)";
  opacity: 0.8;
}
.index-head .user-nav li.buycartbox a:hover i {
  border-color: #ffffff;
}
.index-head .user-nav li.phonemune i {
  color: #ffffff;
}
.index-head .user-nav li.phonemune a:hover {
  color: #ffffff;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform._Microsoft._Alpha(Opacity=80)";
  opacity: 0.8;
}
.index-head .user-nav li.phonemune a:hover i {
  border-color: #ffffff;
}
.hero-wrapper {
  margin-top: -60px;
}
.hero-wrapper.home {
  background: #ffffff url("../img/bg/indextop.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
}
.hero-content {
  color: #ffffff;
  padding: 130px 0px;
}
.hero-content h2 {
  letter-spacing: 1px;
  font-size: 32px;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  -ms-text-shadow: 2px 2px 2px #000;
  -o-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
  padding-bottom: 25px;
  width: 45%;
}
.hero-content p {
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  -ms-text-shadow: 2px 2px 2px #000;
  -o-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 1px;
  font-size: 16px;
  width: 45%;
  padding-bottom: 25px;
}
.hero-content .btnbox {
  width: 45%;
}
.hero-content .btnbox a,
.hero-content .btnbox input {
  display: block;
  padding: 10px 40px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.hero-content .btnbox a:hover,
.hero-content .btnbox input:hover {
  background: #3ba082;
}
.hero-content .btnbox a.mo,
.hero-content .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.hero-content .btnbox a.mo:hover,
.hero-content .btnbox input.mo:hover {
  border-color: #ffffff;
}
.hero-content .btnbox a {
  margin-bottom: 15px;
}
.newbar {
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #e0e2e3;
  background: #e1e1e1;
  letter-spacing: 1px;
}
.newbar a {
  color: #49aace;
  padding-left: 5px;
}
.newbar a i {
  font-size: 14px;
  padding-left: 3px;
}
.newbar a:hover {
  color: #3090b4;
}
.sliderbox .warpper {
  padding: 40px 0px;
}
.sliderbox .warpper h2 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}
.sliderbox .warpper .btnbox {
  text-align: center;
}
.sliderbox .warpper .btnbox a,
.sliderbox .warpper .btnbox input {
  display: block;
  padding: 10px 40px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.sliderbox .warpper .btnbox a:hover,
.sliderbox .warpper .btnbox input:hover {
  background: #3ba082;
}
.sliderbox .warpper .btnbox a.mo,
.sliderbox .warpper .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.sliderbox .warpper .btnbox a.mo:hover,
.sliderbox .warpper .btnbox input.mo:hover {
  border-color: #ffffff;
}
.sliderbox .warpper .btnbox a {
  border-color: #c2c7cc;
  border-width: 1px;
  background: #fff;
  color: #3d454d;
}
.sliderbox .warpper .btnbox a:hover {
  background: #ffffff;
  border-color: #a6aeb5;
  color: #262b31;
}
.picScroll-left {
  margin-left: -23px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  color: #3d454d;
}
.picScroll-left .bd {
  padding: 0px;
}
.highlight {
  background: #36424b;
  color: #50be9e;
}
.highlight .warpper {
  padding: 40px 0px;
}
.highlight .title_h {
  font-size: 16px;
  margin-bottom: 6px;
}
.highlight .title_h i {
  padding-right: 5px;
  font-size: 16px;
}
.highlight p {
  color: #ffffff;
}
.highlight a {
  color: #ffffff;
}
.highlight a:hover {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform._Microsoft._Alpha(Opacity=80)";
  opacity: 0.8;
}
.blur {
  background: #49aace;
  color: #ffffff;
}
.blur .warpper {
  padding: 40px 0px;
}
.blur .warpper h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.blur .title_h {
  font-size: 16px;
  margin-bottom: 6px;
}
.blur .title_h i {
  padding-right: 5px;
  font-size: 16px;
}
.blur p {
  color: #ffffff;
}
.blur a {
  color: #ffffff;
}
.blur a:hover {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform._Microsoft._Alpha(Opacity=80)";
  opacity: 0.8;
}
.white {
  background: #ffffff;
}
.white .container {
  position: relative;
}
.white .container img {
  display: block;
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 238px;
}
.white .warpper {
  padding: 40px 0px;
}
.white .warpper h2 {
  margin-bottom: 20px;
  font-size: 18px;
  width: 50%;
}
.white p {
  width: 50%;
  margin-bottom: 20px;
  color: #788a91;
}
.white .btnbox {
  margin-bottom: 20px;
}
.white .btnbox a,
.white .btnbox input {
  display: block;
  padding: 10px 40px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.white .btnbox a:hover,
.white .btnbox input:hover {
  background: #3ba082;
}
.white .btnbox a.mo,
.white .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.white .btnbox a.mo:hover,
.white .btnbox input.mo:hover {
  border-color: #ffffff;
}
.picScroll-left .bd ul {
  overflow: hidden;
  zoom: 1;
}
.picScroll-left .bd ul li {
  margin: 0 23px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
}
.picScroll-left .bd ul li .pic img {
  width: 120px;
  height: 70px;
  overflow: hidden;
  border-radius: 5px;
  display: block;
  margin-bottom: 0px auto;
}
.picScroll-left .bd ul li .title {
  line-height: 24px;
  margin-top: 5px;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.picScroll-left .bd ul li .title a {
  text-align: center;
  color: #3d454d;
  font-weight: bold;
}
.picScroll-left .bd ul li .title a:hover {
  color: #000;
}
.picScroll-left .bd ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}
.picScroll-left .bd ul li .discribe {
  width: 120px;
  padding-top: 5px;
  color: #788a91;
}
.picScroll-left .bd ul li .pic {
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 1100px) {
  .hero-content h2 {
    padding-left: 20px;
    width: 80%;
  }
  .hero-content p {
    padding-left: 20px;
    width: 80%;
  }
  .hero-content .btnbox {
    width: 80%;
    padding-left: 20px;
  }
  .white {
    background: #ffffff;
  }
  .white .container {
    position: relative;
  }
  .white .container h2,
  .white .container p,
  .white .container .btnbox {
    width: 90%;
  }
  .white .container img {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 0px;
    width: 238px;
    display: none;
  }
  .white .warpper {
    padding: 40px 0px;
  }
  .white .warpper h2 {
    margin-left: 20px;
  }
  .white p {
    margin-left: 20px;
  }
  .white .btnbox {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .white .btnbox a,
  .white .btnbox input {
    display: block;
    padding: 10px 40px;
    background: #50be9e;
    border: 2px solid #3ba082;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 3px;
  }
  .white .btnbox a:hover,
  .white .btnbox input:hover {
    background: #3ba082;
  }
  .white .btnbox a.mo,
  .white .btnbox input.mo {
    background: none;
    margin-left: 15px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .white .btnbox a.mo:hover,
  .white .btnbox input.mo:hover {
    border-color: #ffffff;
  }
  .sliderbox .picScroll-left {
    display: none;
  }
}
@media (max-width: 800px) {
  .hero-content h2 {
    padding-left: 0px;
    font-size: 26px;
    width: 100%;
  }
  .hero-content p {
    padding-left: 0px;
    font-size: 14px;
    width: 100%;
  }
  .hero-content .btnbox {
    padding-left: 0px;
    width: 100%;
  }
  .hero-content .btnbox a {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .hero-content .btnbox a.mo {
    margin-left: 0px;
  }
  .white {
    background: #ffffff;
  }
  .white .container {
    position: relative;
  }
  .white .container h2,
  .white .container p,
  .white .container .btnbox {
    width: 90%;
  }
  .white .container img {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 0px;
    width: 238px;
    display: none;
  }
  .white .warpper {
    padding: 40px 0px;
  }
  .white .warpper h2 {
    margin-left: 20px;
  }
  .white p {
    margin-left: 20px;
  }
  .white .btnbox {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .white .btnbox a,
  .white .btnbox input {
    display: block;
    padding: 10px 40px;
    background: #50be9e;
    border: 2px solid #3ba082;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 3px;
  }
  .white .btnbox a:hover,
  .white .btnbox input:hover {
    background: #3ba082;
  }
  .white .btnbox a.mo,
  .white .btnbox input.mo {
    background: none;
    margin-left: 15px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .white .btnbox a.mo:hover,
  .white .btnbox input.mo:hover {
    border-color: #ffffff;
  }
}
