/*商品列表*/
.hide_phone {
  background: #36424b;
}
.hide_phone .txtScroll-left {
  color: #fff;
  margin: 0 auto;
  width: 560px;
  height: 60px;
  position: relative;
}
.hide_phone .txtScroll-left .hd {
  margin: 0;
  padding-top: 3px;
}
.hide_phone .txtScroll-left .hd .prev,
.hide_phone .txtScroll-left .hd .next {
  background-color: #36424b;
  color: #fff;
  display: block;
  font-size: 20px;
  opacity: .7;
  padding: 10px 0;
  position: absolute;
  width: 45px;
  text-align: center;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hide_phone .txtScroll-left .hd .prev:hover,
.hide_phone .txtScroll-left .hd .next:hover {
  opacity: 1;
}
.hide_phone .txtScroll-left .hd .prev {
  left: 0;
  text-align: center;
}
.hide_phone .txtScroll-left .hd .next {
  right: 0;
  text-align: center;
}
.hide_phone .txtScroll-left .bd {
  height: 60px;
  position: relative;
  width: 560px;
}
.hide_phone .txtScroll-left .bd .tempWrap {
  height: 60px;
}
.hide_phone .txtScroll-left .bd ul {
  left: 0;
  margin: 0;
  position: absolute;
  width: 1120px;
  top: 10px;
  z-index: 5;
}
.hide_phone .txtScroll-left .bd ul li {
  font-size: 15px;
  line-height: 1.25em;
  float: left;
  text-align: center;
  width: 560px;
}
.hide_phone .txtScroll-left .bd ul li a {
  color: #fff;
  font-size: 14px;
  float: none;
  opacity: .8;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hide_phone .txtScroll-left .bd ul li span {
  color: white;
  display: block;
  font-family: "ProximaNova-Regular";
  font-size: 11px;
  text-transform: none;
}
.commts {
  background: #fff;
}
.container {
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.container .left {
  float: left;
  width: 25%;
}
.container .left .inleft {
  display: block;
  padding-top: 20px;
  min-height: 500px;
}
.container .left .inleft ul.navlist {
  margin-bottom: 20px;
  padding-right: 15px;
}
.container .left .inleft ul.navlist li {
  font-size: 14px;
  color: #36424b;
  height: 25px;
  line-height: 25px;
}
.container .left .inleft ul.navlist li.title {
  margin-bottom: 5px;
}
.container .left .inleft ul.navlist li a {
  display: block;
  color: #788a91;
  font-size: 13px;
}
.container .left .inleft ul.navlist li a:hover {
  background: #ddd;
  color: #607076;
}
.container .left .inleft .infoleft .paceimg {
  padding-bottom: 27px;
  margin-bottom: 27px;
  margin-left: 27px;
}
.container .left .inleft .infoleft .paceimg:last-child {
  border-bottom: none;
}
.container .left .inleft .infoleft .paceimg section {
  display: block;
  margin-top: 36px;
  margin-bottom: 36px;
}
.container .left .inleft .infoleft .paceimg section img {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 27px;
}
.container .left .inleft .infoleft .paceimg h2 {
  color: #36424b;
  font-size: 14px;
  padding-bottom: 15px;
  font-weight: bold;
}
.container .left .inleft .infoleft .paceimg a {
  color: #49aace;
}
.container .left .inleft .infoleft .paceimg a:hover {
  color: #3090b4;
}
.container .left .inleft .infoleft .paceimg p {
  color: #788a91;
  margin-bottom: 12px;
}
.container .left .inleft .infoleft .paceimg p .mark {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0px 5px;
}
.container .left .inleft .infoleft .paceimg .listinfo a {
  *zoom: 1;
  padding-bottom: 20px;
  display: block;
}
.container .left .inleft .infoleft .paceimg .listinfo a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.container .left .inleft .infoleft .paceimg .listinfo a img {
  display: block;
  float: left;
  width: 69px;
  height: 43px;
  margin-right: 10px;
}
.container .left .inleft .infoleft .paceimg .listinfo a p {
  color: #49aace;
  padding-top: 10px;
}
.container .left .inleft .infoleft .paceimg .listinfo a:hover p {
  color: #3090b4;
}
.right {
  float: left;
  width: 75%;
}
.right .inright {
  border-right: 1px solid #e0e2e3;
}
.right section {
  margin-bottom: 10px;
  *zoom: 1;
  position: relative;
}
.right section:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right section h2 {
  font-size: 20px;
  padding: 27px;
  float: left;
}
.right section select {
  float: right;
  display: block;
  margin-top: 27px;
  height: 30px;
  border: 1px solid #e0e2e3;
  width: 140px;
  margin-right: 30px;
  box-shadow: 0px 0px 3px #ccc;
}
.right section .set-alert {
  display: block;
  border: 1px solid #e0e2e3;
  color: #788a91;
  padding: 6px 6px 4px 6px;
  border-radius: 4px;
  position: absolute;
  right: 27px;
  top: 27px;
}
.right section .set-alert:hover {
  color: #262b31;
  border-color: #c5c9cb;
}
.right section .left {
  float: left;
  margin-right: 15px;
}
.right section .left h2 {
  float: none;
  padding: 27px 0px 0px 0px;
}
.right section .left .starts {
  padding-bottom: 10px;
  *zoom: 1;
  padding: 0px 0px;
  padding-top: 5px;
}
.right section .left .starts:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right section .left .starts a {
  color: #cccccc;
  font-size: 18px;
  float: left;
  line-height: 22px;
}
.right section .left .starts a.on {
  color: #f58f3c;
}
.right section .left .starts a:hover {
  color: #f58f3c;
}
.right section .left .starts span {
  line-height: 22px;
  color: #788a91;
  font-size: 12px;
  padding-left: 10px;
}
.right section .left .it {
  padding-bottom: 10px;
  color: #788a91;
  font-size: 12px;
  padding: 10px 0px 27px 0px;
}
.right .infotables {
  padding: 10px 27px 10px 0px;
  display: block;
}
.right .infotables section {
  display: block;
  width: 100%;
}
.right .infotables section.tr {
  position: relative;
  margin-bottom: 0px!important;
  border-top: 1px solid #e0e2e3;
  *zoom: 1;
}
.right .infotables section.tr:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right .infotables section.tr .positionprice {
  position: absolute;
  right: 10px;
  top: 10px;
}
.right .infotables section.tr .detail {
  clear: both;
  padding: 10px;
  padding-top: 0px;
  display: none;
}
.right .infotables section.tr .detail h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0px;
  float: none;
}
.right .infotables section.tr .detail ul {
  list-style-type: disc;
  float: none;
  padding: 0px 0px;
  padding-left: 13px;
  color: #788a91;
  padding-bottom: 10px;
}
.right .infotables section.tr .detail ul li {
  float: none;
}
.right .infotables section .th,
.right .infotables section .td {
  float: left;
  *zoom: 1;
}
.right .infotables section .th.type,
.right .infotables section .td.type {
  width: 100px;
}
.right .infotables section .th.type img,
.right .infotables section .td.type img {
  height: 43px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  float: left;
}
.right .infotables section .th.value,
.right .infotables section .td.value {
  width: 80%;
  cursor: pointer;
  position: relative;
}
.right .infotables section .th.value .falg,
.right .infotables section .td.value .falg {
  padding: 0px 4px;
  border: 1px solid #788a91;
  color: #788a91;
  border-radius: 3px;
  margin-top: 3px;
}
.right .infotables section .th.value .falg:hover,
.right .infotables section .td.value .falg:hover {
  color: #607076;
  border-color: #607076;
}
.right .infotables section .th:after,
.right .infotables section .td:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right .infotables section .th span.lf,
.right .infotables section .td span.lf {
  float: left;
  padding-right: 5px;
}
.right .infotables section .th span.sanjiao,
.right .infotables section .td span.sanjiao {
  width: 0px;
  height: 0px;
  display: none;
  float: left;
  margin-left: 10px;
  color: #788a91;
  margin-top: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #788a91;
}
.right .infotables section .th.sortstart span.sanjiao,
.right .infotables section .td.sortstart span.sanjiao {
  display: block;
}
.right .infotables section .th.sortstart.desc span.sanjiao,
.right .infotables section .td.sortstart.desc span.sanjiao {
  width: 0px;
  height: 0px;
  display: block;
  float: left;
  margin-left: 10px;
  color: #788a91;
  margin-top: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #788a91;
}
.right .infotables section .th .in,
.right .infotables section .td .in {
  padding: 10px;
  padding-bottom: 25px;
  *zoom: 1;
}
.right .infotables section .th .in:after,
.right .infotables section .td .in:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right .infotables section .th .in .title,
.right .infotables section .td .in .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}
.right .infotables section .th .in p span,
.right .infotables section .td .in p span {
  color: #788a91;
}
.right .infotables section .th .in .content,
.right .infotables section .td .in .content {
  margin-bottom: 12px;
}
.right .infotables section .th .in.buy,
.right .infotables section .td .in.buy {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
}
.right .infotables section .th .in.buy a,
.right .infotables section .td .in.buy a,
.right .infotables section .th .in.buy input,
.right .infotables section .td .in.buy input {
  display: block;
  padding: 2px 15px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.right .infotables section .th .in.buy a:hover,
.right .infotables section .td .in.buy a:hover,
.right .infotables section .th .in.buy input:hover,
.right .infotables section .td .in.buy input:hover {
  background: #3ba082;
}
.right .infotables section .th .in.buy a.mo,
.right .infotables section .td .in.buy a.mo,
.right .infotables section .th .in.buy input.mo,
.right .infotables section .td .in.buy input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.right .infotables section .th .in.buy a.mo:hover,
.right .infotables section .td .in.buy a.mo:hover,
.right .infotables section .th .in.buy input.mo:hover,
.right .infotables section .td .in.buy input.mo:hover {
  border-color: #ffffff;
}
.right .infotables section .th .in.buy a,
.right .infotables section .td .in.buy a {
  border-width: 1px;
}
.right .infotables section .th .in.buy a.off,
.right .infotables section .td .in.buy a.off {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #788a91;
}
.right .infotables section .th a.info,
.right .infotables section .td a.info {
  color: #49aace;
}
.right .infotables section .th a.info:hover,
.right .infotables section .td a.info:hover {
  color: #3090b4;
}
.right .infotables h3.leisi {
  font-size: 19px;
  line-height: 50px;
  border-bottom: 1px solid #e0e2e3;
}
.right .infotables .leisilist {
  *zoom: 1;
}
.right .infotables .leisilist:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right .infotables .leisilist .inlist {
  width: 244px;
  float: left;
  padding-top: 15px;
  padding-right: 15px;
  overflow: hidden;
  height: 60px;
}
.right .infotables .leisilist .inlist a {
  *zoom: 1;
  display: block;
}
.right .infotables .leisilist .inlist a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.right .infotables .leisilist .inlist a img {
  float: left;
  margin-right: 15px;
  height: 60px;
  border-radius: 5px;
}
.cartlist {
  *zoom: 1;
  border-bottom: 1px solid #e0e2e3;
}
.cartlist:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.cartlist ul li {
  float: left;
  padding: 0px 26px 26px 26px;
}
.cartlist ul li a img {
  display: block;
  width: 160px;
  height: 98px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cartlist ul li a p {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  text-align: center;
}
.cartlist ul li a p.discribe {
  color: #788a91;
}
.goodstplbox {
  min-height: 300px;
}
.breadcrumb {
  border-bottom: 1px solid #e0e2e3;
  line-height: 40px;
  background: #f6f8f7;
}
.breadcrumb .unstyled {
  *zoom: 1;
  width: 1145px;
  margin: 0px auto;
}
.breadcrumb .unstyled:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.breadcrumb .unstyled li {
  color: #788a91;
}
.breadcrumb .unstyled li:last-child {
  float: right;
}
.breadcrumb .unstyled li:last-child a {
  padding-left: 5px;
}
.breadcrumb .unstyled li:first-child {
  float: left;
}
.breadcrumb .unstyled li i {
  margin-right: 5px;
}
.pricelist p {
  margin-bottom: 0px!important;
  *zoom: 1;
  color: #788a91;
  line-height: 30px;
}
.pricelist p:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pricelist p .l {
  float: left;
}
.pricelist p .r {
  float: right;
}
.pricelist p.goon {
  text-align: center;
}
.pricelist .btnbox a,
.pricelist .btnbox input {
  display: block;
  padding: 10px 40px;
  background: #50be9e;
  border: 2px solid #3ba082;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.pricelist .btnbox a:hover,
.pricelist .btnbox input:hover {
  background: #3ba082;
}
.pricelist .btnbox a.mo,
.pricelist .btnbox input.mo {
  background: none;
  margin-left: 15px;
  border-color: rgba(255, 255, 255, 0.5);
}
.pricelist .btnbox a.mo:hover,
.pricelist .btnbox input.mo:hover {
  border-color: #ffffff;
}
.pricelist .btnbox a {
  color: #ffffff!important;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-width: 0px;
}
.aboutcart {
  border: 1px solid #e0e2e3;
  margin-bottom: 10px;
}
.aboutcart .in {
  padding: 10px;
}
.aboutcart .in h2 {
  padding-bottom: 10px;
}
.aboutcart .in li {
  line-height: 30px;
}
.aboutcart .in li a {
  color: #788a91 !important;
  display: block;
}
.aboutcart .in li a:hover {
  color: #607076;
}
@media (max-width: 1145px) {
  .breadcrumb .unstyled {
    width: 97%;
    margin: 0px auto;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 160px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10px 10px 10px;
  }
  .cartlist ul li a img {
    display: block;
    width: 140px;
    height: 98px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 1065px) {
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 760px) {
  .container .left {
    float: none;
    width: 100%;
    border-top: 1px solid #e0e2e3;
  }
  .right {
    float: none;
    width: 100%;
  }
  .right .inright {
    border-right: none;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 20px 20px 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 180px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
@media (max-width: 500px) {
  .right {
    float: none;
    width: 100%;
  }
  .cartlist {
    *zoom: 1;
    border-bottom: 1px solid #e0e2e3;
  }
  .cartlist:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cartlist ul li {
    float: left;
    padding: 0px 10% 10% 20px;
  }
  .cartlist ul li a img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .cartlist ul li a p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    text-align: center;
  }
  .cartlist ul li a p.discribe {
    color: #788a91;
  }
}
