<!DOCTYPE html dir="ltr" lang="en-US">
    <head profile="http://gmpg.org/xfn/11">
    	<link rel="stylesheet" type="text/css" href="../home/assets/css/clustersRollupView.css"/>
		<title>Greenplum Command Center</title>
		<link rel="icon" type="image/png" href="../home/assets/images/Pivotal_icon.png">
		<script type="text/javascript" src="../home/utils/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../home/utils/jquery.jsonp-2.4.0.min.js"></script>
		<script type="text/javascript" src="../home/js/connectionManager.js"></script>
		<script type="text/javascript" src="../home/js/rollup.js"></script>
		<script type="text/javascript" src="../home/utils/jqueryForm.min.js"></script>
	</head>
    <body>
    	<div id="maincontainer" >
		    <div id = "landingPageView">
				<div id="titleHeader">
					  <div id="headerImg"></div>
					  <div id="linkHolder">
						<span class="link" id="logout">Logout</span>
						<span class="separator">|</span>
						<span class="link" id="help">Help</span>
						<span class="separator">|</span>
						<span class="link" id="feedback">Feedback</span>
						<span class="separator">|</span>
						<span class="link" id="support">Support</span>
						<span class="separator">|</span>
						<span class="link" id="pivotal">Pivotal</span>
						<span class="separator">|</span>
						<span id="greetings"></span>
					  </div>
				</div>	
				<div id="innerContainer">
					<div id="clusterView"></div>
				</div>	
			</div>
			<div id = "hiddenFormClick" auto = 'true' ></div>
    	</div>
    </body>
</html>
